- var page = "fly-review";
doctype html
html(lang="vi")
    head
        include jades/head

    body(ontouchstart='')
        include jades/header.jade
        main.wrapper
            section.fly-review
                .note-box
                    .container
                        .note-box__content
                            .note-box__item
                                i.fas.fa-check-circle
                                span Selection
                            .note-box__item
                                i.fas.fa-place-of-worship
                                span Review
                            .note-box__item
                                i.fas.fa-male
                                span Passenger details
                            .note-box__item
                                i.fas.fa-credit-card
                                span Payment
                            .note-box__item
                                i.fas.fa-tasks
                                span Confirmation
                .fly-info
                    .container
                        .fly-info__content
                            .fly-info__left
                                .fly-info__country
                                    span HAN
                                        small Hanoi
                                    i.fas.fa-arrow-right
                                    span DOH
                                        small Doha
                                .fly-info__date
                                    span
                                        small Tue
                                        | 22 Aug 2019
                                    | &nbsp;&nbsp;-&nbsp;&nbsp;
                                    span
                                        small Fri
                                        | 01 Sep 2019
                                .fly-info__passenger
                                    p 1 Adult - 2 Child - 1 Infant
                            .fly-info__right
                                button.btn.btn-blue(type='button' data-toggle="modal" data-target="#homeSearch")
                                    | Modify Search
                                    i.fas.fa-chevron-circle-down
                .fly-review__main
                    .container
                        .fly-review__item
                            .review-item
                                .review-item__header
                                    p.p-plane
                                        img(src='images/icon-outbound-flight.png')
                                        span Outbound Flight
                                    .place-box
                                        .place-box__start
                                            p HAN
                                                span Hanoi
                                        .place-box__icon
                                            i.fas.fa-arrow-right
                                        .place-box__end
                                            p DOH
                                                span Doha
                                    .review-item__date
                                        p
                                            small Tue,
                                            | 22 Aug 2017


                                .review-item__table
                                    .table-responsive
                                        table.table
                                            thead
                                                tr
                                                    th Arrval
                                                    th &nbsp;
                                                    th Class
                                                    th Total price
                                            tbody
                                                tr
                                                    td
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                        .detail-section__total
                                                            p Total Duration: 9h45 pm
                                                    td.td-code
                                                        p QR 0385
                                                        p Boeing 777 - 300ER
                                                        p.p1 Operated by:Quatar airway

                                                    td.td-class Economy Flexi (S)
                                                    td.td-price
                                                        p.p1 836,00 USD
                                                        p.p2 Baggage Allowance - 40 Kgs Included
                                                        p.p2 Earn 6164 Qmiles






                        .fly-review__item
                            .review-item
                                .review-item__header
                                    p.p-plane
                                        img(src='images/icon-inbound-flight.png')
                                        span Inbound Flight
                                    .place-box
                                        .place-box__start
                                            p HAN
                                                span Hanoi
                                        .place-box__icon
                                            i.fas.fa-arrow-right
                                        .place-box__end
                                            p DOH
                                                span Doha
                                    .review-item__date
                                        p
                                            small Tue,
                                            | 22 Aug 2017


                                .review-item__table
                                    .table-responsive
                                        table.table
                                            thead
                                                tr
                                                    th Arrval
                                                    th &nbsp;
                                                    th Class
                                                    th Total price
                                            tbody
                                                tr
                                                    td
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                        .detail-section__total
                                                            p Total Duration: 9h45 pm
                                                    td.td-code
                                                        p QR 0385
                                                        p Boeing 777 - 300ER
                                                        p.p1 Operated by:Quatar airway

                                                    td.td-class Economy Flexi (S)
                                                    td.td-price
                                                        p.p1 836,00 USD
                                                        p.p2 Baggage Allowance - 40 Kgs Included
                                                        p.p2 Earn 6164 Qmiles






                        .fly-review__price
                            .summary-box
                                .summary-box__price
                                    .d-block
                                        p.p1 Total trip price
                                        p.p2 Total price for all passengers
                                        p.p2 (1 adult)
                                    .d-block
                                        p.p-total 558.40 USD
                                .summary-box__fare
                                    .price-breakdown
                                        p.p-active Price breakdown
                                        .price-breakdown__box
                                            .price-breakdown__title
                                                | Price breakdown
                                            .table-responsive
                                                table.table
                                                    thead
                                                        tr
                                                            th Passenger type
                                                            th Adult
                                                            th Child
                                                            th Infants
                                                    tbody
                                                        tr
                                                            td Fare
                                                            td 424.00
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr.tr-indent
                                                            td Taxes, Fees & Carrier Charges
                                                            td 127.40
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr.tr-indent
                                                            td Ticketing Fee
                                                            td 127.40
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr
                                                            td Price per passenger
                                                            td 558.40
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr
                                                            td Number of passenger
                                                            td 1
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr
                                                            td Total price
                                                            td 558.40
                                                            td &nbsp;
                                                            td &nbsp;
                                                        tr.tr-total
                                                            td.td-title Grand total
                                                            td.td-price(colspan='3') 558.40 USD
                                    a(href='#') Fare rules
                        .fly-review__btn
                            a.btn.btn-blue(href='#') Continue
        #homeSearch.modal.fade
            .modal-dialog
                .modal-content
                    .modal-body
                        button.close(type='button', data-dismiss='modal') ×
                        .home-search
                            .home-search__header
                                .home-search__title
                                    img(src='images/search-logo.png')
                                    h5 Book your flight
                            .home-search__content
                                .home-search__left
                                    ul.home-search__tab
                                        li.active
                                            button#btn1(type='button') Round Trip

                                        li
                                            button#btn2(type='button') One Way

                                        li
                                            button#btn3(type='button') Multiple Destination

                                    .home-search__group.no-multi
                                        .home-search__item
                                            .form-group.form-group_from
                                                label From
                                                input.form-control(type='text' placeholder='Choose origin')
                                                include jades/search-default.jade
                                            .form-group.form-group_to
                                                label To
                                                input.form-control(type='text' placeholder='Choose origin')
                                                include jades/search-default.jade
                                            .form-group.form-group_depart
                                                label Depart
                                                input.form-control(type='text' placeholder='Choose origin')
                                                i.fas.fa-calendar-alt
                                            .form-group.form-group_return
                                                label Return
                                                input.form-control(type='text' placeholder='Choose origin')
                                                i.fas.fa-calendar-alt
                                    .home-search__group.multi.d-none
                                        .home-search__item
                                            .form-group.form-group_from
                                                label From
                                                input.form-control(type='text' placeholder='Choose origin')
                                                include jades/search-default.jade
                                            .form-group.form-group_to
                                                label To
                                                input.form-control(type='text' placeholder='Choose origin')
                                                include jades/search-default.jade
                                            .form-group.form-group_depart
                                                label Depart
                                                input.form-control(type='text' placeholder='Choose origin')
                                                i.fas.fa-calendar-alt
                                            .form-group.form-group_close
                                                button.btn(type='button')
                                                    | &#215;
                                        .home-search__add
                                            button.btn.btn-blue.btn-round(type='button') Add Flights
                                .home-search__right
                                    p.p1 Travellers
                                    .home-search__travellers
                                        .form-group.form-group_adults
                                            label Adults
                                            select.form-control
                                                option 1
                                                option 2
                                                option 3

                                        .form-group.form-group_child
                                            label Children
                                            select.form-control
                                                option 1
                                                option 2
                                                option 3
                                            p.p2 2 - 11 years
                                        .form-group.form-group_infants
                                            label Infants
                                            select.form-control
                                                option 1
                                                option 2
                                                option 3

                                            p.p2 up to 2 years
                                    .home-search__btn
                                        a.btn.btn-blue.btn-round(href='fly-list.html') Find Flights

        include jades/footer.jade
        script(type='text/javascript' src="js/jquery-3.3.1.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/flatpickr.js")
        script.
            $('.form-group_depart input').flatpickr({
                altInput: false,
                disableMobile: true,
                dateFormat: 'D, d-m-Y',
                minDate: 'today'
            });

            $('.form-group_return input').flatpickr({
                altInput: false,
                disableMobile: true,
                dateFormat: 'D, d-m-Y',
                minDate: 'today'
            });
        script.
            $('.home-search__tab li button').click(function () {
                $(this).parent('li').addClass('active');
                $(this).parent('li').siblings().removeClass('active');
            });
            $('#btn1').click(function () {
                $('.form-group_return').removeClass('d-hidden');
                $('.multi').addClass('d-none');
                $('.no-multi').removeClass('d-none');
            });
            $('#btn2').click(function () {
                $('.form-group_return').addClass('d-hidden');
                $('.multi').addClass('d-none');
                $('.no-multi').removeClass('d-none');
            });
            $('#btn3').click(function () {
                $('.multi').removeClass('d-none');
                $('.no-multi').addClass('d-none');
            });
        script.
            $('.form-group_from input').click(function () {
                $(this).parents('.form-group_from').children('.search-default').toggleClass('d-none');
                $('.form-group_to .search-default').addClass('d-none');
            });
            $('.form-group_to input').click(function () {
                $(this).parents('.form-group_to').children('.search-default').toggleClass('d-none');
                $('.form-group_from .search-default').addClass('d-none');
            });
        script.
            $('.nav-link').click(function () {

                $(this).next('.nav-sub').slideToggle(400);
                $('.nav-item.active .nav-sub').slideUp(400);

                $(this).parent('.nav-item').toggleClass('active');
                $(this).parent('.nav-item').siblings().removeClass('active');


            });



