- var page = "fly-list";
doctype html
html(lang="vi")
    head
        include jades/head

    body(ontouchstart='')
        include jades/header.jade
        main.wrapper
            section.fly-list
                .fly-list__desktop
                    .note-box
                        .container
                            .note-box__content
                                .note-box__item
                                    i.fas.fa-check-circle
                                    span Selection
                                .note-box__item
                                    i.fas.fa-place-of-worship
                                    span Review
                                .note-box__item
                                    i.fas.fa-male
                                    span Passenger details
                                .note-box__item
                                    i.fas.fa-credit-card
                                    span Payment
                                .note-box__item
                                    i.fas.fa-tasks
                                    span Confirmation
                    .fly-info
                        .container
                            .fly-info__content
                                .fly-info__left
                                    .fly-info__country
                                        span HAN
                                            small Hanoi
                                        i.fas.fa-arrow-right
                                        span DOH
                                            small Doha
                                    .fly-info__date
                                        span
                                            small Tue
                                            | 22 Aug 2019
                                        | &nbsp;&nbsp;-&nbsp;&nbsp;
                                        span
                                            small Fri
                                            | 01 Sep 2019
                                    .fly-info__passenger
                                        p 1 Adult - 2 Child - 1 Infant
                                .fly-info__right
                                    button.btn.btn-blue(type='button')
                                        | Modify Search
                                        i.fas.fa-chevron-circle-down
                    .fly-list__main
                        .container
                            .fly-list__outbound
                                .outbound-box
                                    .outbound-box__header
                                        p Outbound Flight
                                        p 836,00 USD
                                        p Total Price
                                    .outbound-box__content
                                        .outbound-box__left
                                            .d-block
                                                p.p1 Tue, 22 Aug 2017
                                                p.p2 HAN
                                                    strong 9:45
                                                p.p3 Hanoi, VN
                                            .d-block.d-block_icon
                                                i.fas.fa-arrow-right
                                            .d-block
                                                p.p1 Tue, 22 Aug 2017
                                                p.p2 HAN
                                                    strong 9:45
                                                p.p3 Hanoi, VN
                                        .outbound-box__center
                                            p Select your inbound Flight
                                        .outbound-box__right
                                            .d-block
                                                p.p1 836,00 USD
                                                p.p2 For All Passenger
                            .fly-list__item
                                .fly-item
                                    .fly-item__place
                                        .d-bllock
                                            p.p-plane
                                                img(src='images/icon-outbound-flight.png')
                                                span Outbound Flight
                                            .place-box
                                                .place-box__start
                                                    p HAN
                                                        span Hanoi
                                                .place-box__icon
                                                    i.fas.fa-arrow-right
                                                .place-box__end
                                                    p DOH
                                                        span Doha
                                        .more-date
                                            p More date
                                                i.fas.fa-calendar-alt
                                    .fly-item__slide
                                        .date-slide
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Monday
                                                        p.p2 22 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Tuesday
                                                        p.p2 23 Aug 2019
                                            .date-slide__col
                                                .date-slide__item.active
                                                    .date-slide__text
                                                        p.p1 Wednesday
                                                        p.p2 24 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Thursday
                                                        p.p2 25 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Friday
                                                        p.p2 26 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Saturday
                                                        p.p2 27 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Sunday
                                                        p.p2 28 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Friday
                                                        p.p2 26 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Saturday
                                                        p.p2 27 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Sunday
                                                        p.p2 28 Aug 2019
                                    .ticket-table
                                        .ticket-table__header
                                            .ticket-table__row
                                                .ticket-table__left
                                                    .sort-box
                                                        .sort-box__left
                                                            p Sort by
                                                        .sort-box__right
                                                            .d-block
                                                                button.btn(type='button')
                                                                    i.fas.fa-plane-departure
                                                                    | Departure time
                                                                button.btn(type='button')
                                                                    i.fas.fa-plane-arrival
                                                                    | Arrival time
                                                .ticket-table__right
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Save
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Flexi
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Business Flexi
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Business Value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                        .ticket-table__body
                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                            .fly-list__item
                                .fly-item
                                    .fly-item__place
                                        .d-bllock
                                            p.p-plane
                                                img(src='images/icon-outbound-flight.png')
                                                span Outbound Flight
                                            .place-box
                                                .place-box__start
                                                    p HAN
                                                        span Hanoi
                                                .place-box__icon
                                                    i.fas.fa-arrow-right
                                                .place-box__end
                                                    p DOH
                                                        span Doha
                                        .more-date
                                            p More date
                                                i.fas.fa-calendar-alt
                                    .fly-item__slide
                                        .date-slide
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Monday
                                                        p.p2 22 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Tuesday
                                                        p.p2 23 Aug 2019
                                            .date-slide__col
                                                .date-slide__item.active
                                                    .date-slide__text
                                                        p.p1 Wednesday
                                                        p.p2 24 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Thursday
                                                        p.p2 25 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Friday
                                                        p.p2 26 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Saturday
                                                        p.p2 27 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Sunday
                                                        p.p2 28 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Friday
                                                        p.p2 26 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Saturday
                                                        p.p2 27 Aug 2019
                                            .date-slide__col
                                                .date-slide__item
                                                    .date-slide__text
                                                        p.p1 Sunday
                                                        p.p2 28 Aug 2019
                                    .ticket-table
                                        .ticket-table__header
                                            .ticket-table__row
                                                .ticket-table__left
                                                    .sort-box
                                                        .sort-box__left
                                                            p Sort by
                                                        .sort-box__right
                                                            .d-block
                                                                button.btn(type='button')
                                                                    i.fas.fa-plane-departure
                                                                    | Departure time
                                                                button.btn(type='button')
                                                                    i.fas.fa-plane-arrival
                                                                    | Arrival time
                                                .ticket-table__right
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Save
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Flexi
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Economy Value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Business Flexi
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                                    .ticket-table__col.col_6
                                                        .ticket-table__type
                                                            p.p1 Business Value
                                                            p.p2
                                                                i.fas.fa-suitcase
                                                                span 30kg
                                        .ticket-table__body
                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                                            .ticket-table__item
                                                .ticket-table__row
                                                    .ticket-table__left
                                                        .trip-box
                                                            .trip-box__start
                                                                p.p1 (SGN) 16h20
                                                                p.p2 Hanoi, Vietnam
                                                                p.p3 Hanoi, Noibai International Airport Vietnam
                                                                .p4 QR 0385 Boeing 777 - 300ER

                                                            .trip-box__icon
                                                                img(src='images/icon-stop.png')
                                                                p.p1 01h10
                                                                p.p2
                                                                    span.red-2 2 stop(s)
                                                                    | (SIN, LHR)
                                                            .trip-box__end
                                                                p.p1 (DOH) 17h30
                                                                p.p2 Doha, Quatar
                                                                p.p3 Doha, Hamad International Airport Quatar
                                                                .p4 QR 0385 Boeing 777 - 300ER
                                                    .ticket-table__right
                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                        .ticket-table__col.col_6
                                                            .ticket-table__cell
                                                                .d-block
                                                                    .ticket-table__check
                                                                        i.fas.fa-check
                                                                    p.p2 579.85
                                                                    p.p1 USD
                                                                    p.p3 3 Seat (8) Left

                                                .ticket-table__detail
                                                    .detail-section
                                                        .detail-section__header
                                                            p.p1
                                                                span HAN
                                                                    small Hanoi
                                                                i.fas.fa-arrow-right
                                                                span DOH
                                                                    small Doha
                                                            p.p2 Economy Flexi
                                                        .detail-section__content
                                                            .detail-section__left
                                                                .trip-box
                                                                    .trip-box__start
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (SGN) 16h20
                                                                        p.p2 Hanoi, Vietnam
                                                                        p.p3 Hanoi, Noibai International Airport Vietnam
                                                                        .p4 QR 0385 Boeing 777 - 300ER

                                                                    .trip-box__icon
                                                                        img(src='images/icon-stop.png')
                                                                        p.p1 01h10
                                                                        p.p2
                                                                            span.red-2 2 stop(s)
                                                                            | (SIN, LHR)
                                                                    .trip-box__end
                                                                        p.p5 Tue , 22 Aug 2017
                                                                        p.p1 (DOH) 17h30
                                                                        p.p2 Doha, Quatar
                                                                        p.p3 Doha, Hamad International Airport Quatar
                                                                        .p4 QR 0385 Boeing 777 - 300ER
                                                                .detail-section__total
                                                                    p Total Duration: 9h45 pm
                                                            .detail-section__right
                                                                .fare-box
                                                                    .fare-box__header
                                                                        p Fare Detail
                                                                    .fare-box__content
                                                                        .fare-box__icon
                                                                            i.fas.fa-server
                                                                            p Changes
                                                                                span Free of Charge

                                                                        .fare-box__icon
                                                                            i.fas.fa-tasks
                                                                            p Cancellation
                                                                                span 85 USD
                                                                        .fare-box__icon
                                                                            i.fas.fa-fighter-jet
                                                                            p No Show
                                                                                span 85 USD

                                                                        .fare-box__icon
                                                                            i.fas.fa-briefcase
                                                                            p Hand Baggage
                                                                                span One piece , not to exceed 7kg

                .fly-list__mobile
        include jades/footer.jade
        script(type='text/javascript' src="js/jquery-3.3.1.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/slick.min.js")
        script(type='text/javascript' src="js/flatpickr.js")

        script.
            $('.nav-link').click(function () {

                $(this).next('.nav-sub').slideToggle(400);
                $('.nav-item.active .nav-sub').slideUp(400);

                $(this).parent('.nav-item').toggleClass('active');
                $(this).parent('.nav-item').siblings().removeClass('active');


            });

        script.
            $('.date-slide').slick({
                slidesToShow: 7,
                slidesToScroll: 1,
                //autoplay: true,
                speed: 500,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        script.
            $('.ticket-table__detail').slideUp();
            $('.ticket-table__cell').click(function () {
                $('.ticket-table__cell').removeClass('active');
                $(this).addClass('active');

                $(this).parents('.ticket-table__item').find('.ticket-table__detail').slideDown();
                $(this).parents('.ticket-table__item').siblings().find('.ticket-table__detail').slideUp();
            });
        script.
            var outboundBox = $('.outbound-box').offset().top;
            $(window).scroll(function () {
                if ($(window).scrollTop() >= outboundBox) {
                    $('.outbound-box').addClass('fixed-top');
                } else {
                    $('.outbound-box').removeClass('fixed-top');
                }
            });


