.summary-box{
  @include breakpoint(sm){
    position: relative;
  }
  &__active{
    background-color: $main-color;
    padding: 15px;
    cursor: pointer;
    @include breakpoint(sm){
      padding: 15px 30px;
    }
    p{
      color: #fff;
    }
    .p1{
      font-size: 12px;
    }
    .p2{
      font-size: 18px;
      font-weight: $semibold;
      i{
        margin-left: 10px;
      }
    }
  }
  &__detail{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 15px;
    @include breakpoint(sm){
      width: 300px;
      left: auto;
      right: 0;
    }
  }
  &__item{
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
    &:last-child{
      border-bottom: none;
    }
    .p1{
      color: #999;
      font-size: 14px;
    }
  }
  &__price{
    display: flex;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    margin: 0 -15px;
    .d-block{
      width: 50%;
      .p1{
        font-size: 18px;
        color: #999;
        font-weight: $semibold;
      }
      .p2{
        font-size: 12px;
        color: #999;
      }
      .p-total{
        font-size: 18px;
        color: $main-color;
        font-weight: $semibold;
        text-align: right;
      }
    }
  }
  &__fare{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      font-size: 12px;
      color: #007bff;
    }
  }
}
.price-breakdown{
  position: relative;
  &:hover{
    .price-breakdown__box{
      opacity: 1;
      visibility: visible;
    }
  }
  .p-active{
    font-size: 12px;
    color: #007bff;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  &__title{
    font-size: 16px;
    color: $main-color;
    font-weight: $bold;
    padding: 0 0 10px;
    border-bottom: 1px solid $main-color;
  }
  &__box{
    padding: 15px;
    width: 320px;
    position: absolute;
    bottom: 100%;
    left: -15px;
    background-color: #fff;
    border: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    @include breakpoint(sm){
      width: 450px;
      left: auto;
      right: 0;
    }
    .table{
      th,td{
        font-size: 14px;
        @include breakpoint(xs){
          white-space: nowrap;
          vertical-align: top;
        }
      }
      th{
        @include breakpoint(sm){
          vertical-align: top;
        }
      }
      .tr-indent{
        td{
          font-size: 12px;
          font-style: italic;
          padding: .5rem;
        }
      }
      .tr-total{
        td{
          font-size: 22px;
          font-weight: $bold;
        }
        .td-title{
          color: #999;
        }
        .td-price{
          color: $main-color;
        }
      }
    }
  }
}
.checkout-tab{
  @include breakpoint(xs){
    display: flex;
  }
  &__item{
    background-color: #f2f2f2;
    padding: 15px;
    cursor: pointer;
    @include breakpoint(xs){
      width: 50%;
      text-align: center;
      border: 1px solid #ddd;
    }
    @include breakpoint(sm){
      border-bottom: 1px solid #ddd;
    }
    &:last-child{
      @include breakpoint(xs){
        border-left: none;
      }
    }
    &.active{
      background-color: #fff;
      @include breakpoint(xs){

      }
      p{
        color: $main-color;
        font-weight: $semibold;
      }
    }
    p{
      color: #a4a4a4;
      font-size: 14px;
    }
  }
}
.form-checkout{
  margin-bottom: 30px;
  @include breakpoint(sm){
    display: flex;
    border: 1px solid #ddd;
  }
  &__left{
    @include breakpoint(sm){
      width: 20%;
      background-color: #f2f2f2;
      border-right: 1px solid #ddd;
    }
  }
  &__right{
    @include breakpoint(sm){
      width: 80%;
    }
  }
  &__group{
    padding: 15px 0;
    animation: opacityShow .5s;
    display: none;
    @include breakpoint(sm){
      padding: 15px;
    }
    &.active{
      display: block;
    }
  }
  &__title{
    margin-bottom: 15px;
    h5{
      font-size: 18px;
      font-weight: 600;
      color: $main-color;
      margin-bottom: 5px;
    }
    p{
      font-size: 12px;
      color: #000;
      font-weight: 600;
    }
    &.add-freq{
      h5{
        display: inline-block;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
        i{
          margin-left: 5px;
          transition: .5s;
        }
      }
    }
  }
  &__row{
    @include breakpoint(sm){
      display: flex;
      margin: 0 -5px;
    }
    &.row-info{
      margin-bottom: 30px;
      .form-group{
        &_title{
          width: 100px;
        }
        &_first,
        &_last,
        &_pass{
          @include breakpoint(sm){
            width: calc((100% - 100px)/3);
          }
        }
      }
    }
    &.row-date{
      .form-group{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        label{
          display: block;
          width: 100%;
        }
        .form-control{
          width: calc((100% - 20px) / 3);
        }
      }
    }
    &.row-gender{
      .form-group{
        display: flex;
        align-items: center;
        > label{
          margin: 0 20px 0 0;
        }
        .radio{
          padding: 0 10px;
          label{
            margin: 0;
          }
        }
      }
    }
    &.row-card{
      flex-wrap: wrap;
      display: none;
      margin: 0;
      @include breakpoint(sm){
        width: 400px;
      }
      .form-group{
        display: flex;
        justify-content: space-between;
        padding: 0;
        .form-control{
          width: calc((100% - 10px)/2);
        }
      }
    }
    &.row-contact{
      .form-group{
        @include breakpoint(sm){
          width: 33.333%;
        }
      }
    }
    &.row-textarea{
      .form-group{
        width: 100%;
        textarea{
          resize: none;
          height: 60px;
        }
      }
    }
  }
  &__freq{
    &.rotate{
      .add-freq{
        h5{
          i{
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &__text{
    margin-bottom: 15px;
    p{
      font-size: 14px;
      color: #000;
    }
  }
  .form-group{
    @include breakpoint(sm){
      padding: 0 5px;
    }
    > label{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      font-weight: $semibold;
    }
  }
}
.fly-checkout{
  &__title{
    margin-bottom: 30px;
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid $main-color;
      @include breakpoint(xs){
        position: relative;
      }
      h5{
        font-size: 14px;
        color: #808080;
        font-weight: $semibold;
        @include breakpoint(sm){
          font-size: 18px;
        }
      }
    }
  }
  &__form{
    margin-bottom: 30px;
  }
  &__btn{
    text-align: center;
    @include breakpoint(sm){
      text-align: right;
    }
    .btn{
      font-size: 18px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }
}