footer.fly-footer
    .container
        .fly-footer__card
            img(src='images/card-footer.png')
    .fly-footer__reserved
        .container
            .fly-footer__reserved__text
                p.p1 VietnamFlightCentre © 2017. All rights reserved.
                .p2
                    a(href='#') About Us
                    a(href='#') Privacy Policy
                    a(href='#') Terms & Conditions
                    a(href='#') FAQ