header.fly-header.fly-header_home
    .container
        nav.navbar.navbar-expand-md
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
                i.fas.fa-bars
            a.navbar-brand(href='index.html')
                img(src='images/logo.png')
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-social
                    li
                        a(href='#')
                            i.fab.fa-facebook-f
                    li
                        a(href='#')
                            i.fab.fa-youtube
                    li
                        a(href='#')
                            i.fab.fa-google-plus-g
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='index.html') Home
                    li.nav-item
                        a.nav-link(href='#') Plan & Book
                            i.fas.fa-chevron-down
                        .nav-sub
                            .nav-sub__content
                                ul
                                    li.li-title Book Your Trip
                                    li
                                        a(href='#') Domestic Flights

                                    li
                                        a(href='#') International Flights
                                    li
                                        a(href='#') Fare Types & Rules
                                ul
                                    li.li-title Fly Experience
                                    li
                                        a(href='#') 4 Star Airline Services

                                    li
                                        a(href='#') Business Class
                                    li
                                        a(href='#') Premium Economy Class
                                    li
                                        a(href='#') Economy Class
                                    li
                                        a(href='#') Food & Beverages
                                    li
                                        a(href='#') In-flight Entertainment
                                ul
                                    li.li-title The Fleet
                                    li
                                        a(href='#') Boeing 787
                                    li
                                        a(href='#') Airbus A350
                                    li
                                        a(href='#') Airbus A330
                                    li
                                        a(href='#') Airbus A321
                                ul
                                    li.li-title Flight Info
                                    li
                                        a(href='#') Route Map
                                    li
                                        a(href='#') Flight Schedule
                                    li
                                        a(href='#') Flight Status
                    li.nav-item
                        a.nav-link(href='#') Travel Info
                            i.fas.fa-chevron-down
                        .nav-sub
                            .nav-sub__content
                                ul
                                    li.li-title Baggage
                                    li
                                        a(href='#') Cabin/ Hand Baggage

                                    li
                                        a(href='#') Checked Baggage
                                    li
                                        a(href='#') Excess Baggage
                                    li
                                        a(href='#') Retricsted Baggage
                                    li
                                        a(href='#') Mishadle Baggage
                                    li
                                        a(href='#') Special Baggage
                                ul
                                    li.li-title Travel infomation
                                    li
                                        a(href='#') Airpost Guide
                                    li
                                        a(href='#') Payment Guide
                                ul
                                    li.li-title Extra Service
                                    li
                                        a(href='#') Repaid / Extra Baggage
                                    li
                                        a(href='#') Airpost Transfer Service
                                ul
                                    li.li-title Special Service
                                    li
                                        a(href='#') Unaccompanied Children
                                    li
                                        a(href='#') Passenger with Disabilities
                                    li
                                        a(href='#') Pregnant Passenger
                    li.nav-item
                        a.nav-link(href='#') Contact Us
