.search-default.d-none
    .search-default__item
        .search-default__title
            h5 VIETNAM
        ul.search-default__list
            li
                a Hanoi (HAN)
            li
                a Ho Chi Minh city (SGN)
            li
                a Ban Me Thuot (BMV)
            li
                a Ca Mau (CAH)
            li
                a Can Tho (VCA)
            li
                a Chu Lai (VCL)
            li
                a Con Dao (VCS)
            li
                a Da Lat (DLI)
            li
                a Da Nang (DAD)
            li
                a Dien Bien Phu (DIN)
            li
                a Dong Hoi (VDH)
            li
                a Hai Phong (HPH)
            li
                a Hue (HUI)
            li
                a Nha Trang (CXR)
            li
                a Phu Quoc (PQC)
            li
                a Pleiku (PXU)
            li
                a Quy Nhon (UIH)
            li
                a Rach Gia (VKG)
            li
                a Thanh Hoa (THD)
            li
                a Vinh City (VII)
    .search-default__item
        .search-default__title
            h5 australia
        ul.search-default__list
            li
                a Melbourne (MEL)
            li
                a Sydney (SYD)

    .search-default__item
        .search-default__title
            h5 EUROPE
        ul.search-default__list
            li
                a Amsterdam (AMS)
            li
                a Barcelona (BCN)

            li
                a Frankfurt (FRA)

            li
                a London (LHR)

            li
                a Lyon (LYS)

            li
                a Madrid (MAD)

            li
                a Marseille (MRS)

            li
                a Montpellier (MPL)

            li
                a Moscow (DME)

            li
                a Nice (NCE)

            li
                a Paris (CDG)

            li
                a Prague (PRG)

            li
                a Rome (ROM)

            li
                a Toulouse (TLS)

    .search-default__item
        .search-default__title
            h5 INDOCHINA
        ul.search-default__list
            li
                a Sihanoukville (KOS)
            li
                a Phnom Penh  (PNH)

            li
                a Siem Reap (REP)

            li
                a Luang prabang (LPQ)

            li
                a Vientiane (VTE)

    .search-default__item
        .search-default__title
            h5 SOUTH EAST ASIA
        ul.search-default__list
            li
                a Bangkok (BKK)
            li
                a Jakarta (CGK)

            li
                a Kuala Lumpur (KUL)

            li
                a Manila (MNL)

            li
                a Singapore (SIN)

            li
                a Yangon (RGN)

    .search-default__item
        .search-default__title
            h5 NORTH EAST ASIA
        ul.search-default__list
            li
                a Beijing (PEK)
            li
                a Busan (PUS)

            li
                a Chengdu (CTU)

            li
                a Fukuoka (FUK)

            li
                a Guangzhou (CAN)

            li
                a Hangzhou (HGH)

            li
                a Hong Kong (HKG)

            li
                a Kaohsiung (KHH)

            li
                a Nagoya (NGO)

            li
                a Osaka (KIX)

            li
                a Seoul (ICN)

            li
                a Shanghai (PVG)

            li
                a Taipei (TPE)

            li
                a Tokyo Haneda (HND)

            li
                a Tokyo Narita (NRT)

    .search-default__item
        .search-default__title
            h5 NORTH AMERIA
        ul.search-default__list
            li
                a Atlanta Hartsfield (ATL)
            li
                a Austin (AUS)

            li
                a Dallas (DFW)

            li
                a Honolulu (HNL)

            li
                a Los Angeles (LAX)

            li
                a Miami (MIA)

            li
                a New York (JFK)

            li
                a Portland (PDX)

            li
                a San Francisco (SFO)

            li
                a Seattle, Tacoma (SEA)

            li
                a Vancouver (YVR)

            li
                a Washington (IAD)