.fly-footer {
  border-top: 1px solid #b9b9b9;
  &__card{
    padding: 15px 0;
    @include breakpoint(xs){
      text-align: center;
    }
    img{
      vertical-align: middle;
    }
  }
  &__reserved {
    background-color: $main-color;
    &__text {
      text-align: center;
      padding: 10px 0;
      @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
      }
      .p1 {
        font-size: 12px;
        color: $white-1;
      }
      .p2{
        @include breakpoint(xs){
          padding-top: 10px;
          margin-top: 10px;
          border-top: 1px solid #fff;
        }
        a{
          color: #fff;
          font-size: 12px;
          padding: 0 10px;
          border-right: 1px solid #fff;
          &:last-child{
            border-right: none;
          }
        }
      }
    }
  }
}