.fly-header {
  background-color:#43252b;
  padding: 15px 0;
  @include breakpoint(sm){
    position: relative;
    z-index: 1;
  }
  &_home{
    @include breakpoint(sm){
      background-color: rgba(67, 37, 43, 0.75);
    }
  }
  &__language {
    padding: 5px 10px;
    background-color: $orange;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    i {
      color: $white-1;
      padding-left: 5px;
    }
  }
  &__right{
    @include breakpoint(xs) {
      order: 3;
    }
    @include breakpoint(md){
      display: flex;
      align-items: center;
    }
  }
  &__search {
    position: relative;
    @include breakpoint(max-sm) {
      display: none;
    }
    @include breakpoint(md){
      margin-left: 10px;
    }
    input {
      border-radius: 15px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      font-size: 12px;
      width: 130px;
      padding: 4px 30px 4px 25px;
      &:focus {
        outline:none;
      }
    }
    i{
      font-size: 12px;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      color: #fff;
      cursor: pointer;
    }
    .fa-search {
      left: 10px;
    }
    .fa-times-circle {
      right: 10px;
      font-size: 15px;
    }
  }
  .navbar{
    width: 100%;
    padding: 0;
    @include breakpoint(sm){
      justify-content: space-between;
    }
  }
  .navbar-brand {
    margin:0;
    padding: 0;
    img{
      width: 150px;
      @include breakpoint(md){
        width: 200px;
      }
      @include breakpoint(lg){
        width: 300px;
      }
    }
  }
  .navbar-toggler {
    border: none;
    background-color:$orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    font-size: initial;
    i{
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
  .navbar-collapse {
    @include breakpoint(xs) {
      order: 4;
    }
    @include breakpoint(sm) {
      padding-left: 15px;
    }
  }
  .navbar-nav{
    width: 100%;
    .nav-item {
      @include breakpoint(sm){
        padding: 0 5px;
      }
      &.active {
        .nav-link{
          color: $orange;
          @include breakpoint(sm){
            background-color: $orange;
            color: #fff;
          }
        }
      }
      .nav-link {
        padding: 10px;
        color: $white-1;
        transition: .2s;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        @include breakpoint(sm){
          border-radius: 30px;
          border-bottom: none;
          padding: 5px 10px;
        }
        &:hover {
          @include breakpoint(sm){
            color: $white-1;
            background-color: $orange;
          }
        }
      }
    }
  }
}