
.white-1{
  color: $white-1!important;
}
.black-1{
  color: $black-1!important;
}
.orange{
  color: $orange!important;
}
.red-1{
  color: $red-1!important;
}
.red-2{
  color: $red-2!important;
}
.semibold {font-weight: 600!important;}
.bold {font-weight: 700!important;}
